/* .hero{
  background:url(./assets/asset\ 4.jpeg);
  width: 83.33%;
  margin-inline: auto;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
